VITE_ENTRA_CLIENT_ID = <Azure client id>
VITE_ENTRA_TEDANT_ID = <Azure tenant id>
VITE_ENTRA_SERVER = luuppiweba
VITE_ENTRA_SCOPE = api://<From Entra>
API_BASE_URL = https://localhost:7267/
VITE_IS_DEV = true
VITE_DEV_ID = 0194e050-5472-71fb-b871-7889c80b749e