VITE_ENTRA_CLIENT_ID = <Azure client id>
VITE_ENTRA_TEDANT_ID = <Azure tenant id>
VITE_ENTRA_SERVER = luuppiweba
VITE_ENTRA_SCOPE = api://<From Entra>
VITE_ENTRA_REDIRECT_URL = http://localhost:3000/fi/index.html

# https://localhost:7267/
# https://larpake.luuppi.fi/
VITE_API_BASE_URL = https://larpake.luuppi.fi/

# VITE_IS_DEV = true
# VITE_DEV_ID = 0194e050-5472-71fb-b871-7889c80b749e