# database name is larpake_dev
# fill all values inside <brackets> (ENTRA_SUDO_USERS can be empty)
# values with header 'e-' are external and you cannot choose your own values

POSTGRES_NAME=larpake_dev
POSTGRES_ADMIN_PASSWORD=<db-admin-pwd>
POSTGRES_ADMIN_USERNAME=postgres_sudo
PG_API_MIGRATIONS_PASSWORD=<migrations-pwd>
PG_API_CLIENT_PASSWORD=<client-pwd>

JWT_SECRET=<jwt-secret>
JWT_AUDIENCE=larpake.luuppi.fi
JWT_ISSUER=larpake.luuppi.fi

LUUPPI_API_KEY=<e-api-key>

ENTRA_TEDANT_ID=<e-azure-tedant-id>
ENTRA_CLIENT_ID=<e-azure-client-id>

POSTGRES_MIGRATIONS_CONNECTION_STRING="Host=larpake_pg_dev; Port=5432; Database=larpake_dev; Username=migrations_user_dev; Password='<migrations-pwd>';"
POSTGRES_API_CONNECTION_STRING="Host=larpake_pg_dev; Port=5432; Database=larpake_dev; Username=api_user_dev; Password='<client-pwd>';"

ENTRA_SUDO_USERS=<user-uuids>

