@import "../common.css";

body {
    background-color: white;
    padding-bottom: 150px;
}

.top-level-container {
    display: flex;
    justify-content: center;
    margin: 20px 10px;
}

.content {
    max-width: 1200px;
    width: 100%;
    background-color: var(--luuppi-gray);
    border-radius: 10px;
}

.content > * {
    padding: 0 20px;
}

.page-information {
    padding: 30px 20px;
    display: flex;
    flex-flow: column;
}

.search {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    gap: 30px;
}

.search > p {
    margin: 0;
    max-width: 600px;
}

.search-field {
    font-size: large;
    padding: 5px 5px;
    border-radius: 5px;
    border: 1px solid var(--text-border);
    margin-top: auto;
}

@media screen and (max-width: 800px) {
    .search {
        flex-flow: column;
        gap: 10px;
    }

    .search-field {
        margin: 0 auto 0 0;
    }
}

.user-table-padding {
    overflow-x: auto;
    min-height: 350px;
}

.user-table {
    width: 100%;
    border-spacing: 0;
    padding-bottom: 20px;
    margin-bottom: auto;
}

th {
    font-size: small;
    font-weight: 600;
}

td,
th {
    padding: 10px 20px;
    font-size: small;
    color: black;
}

td {
    font-weight: 400;
}


.column-titles > th {
    text-align: start;
    color: var(--non-highlight);
}

.item-counter {
    font-size: small;
}

.user-table tr:nth-of-type(2n + 2) {
    background-color: var(--list-gray);
}

.user-table tr:not(.column-titles):hover {
    background-color: #e2e2e9;
    cursor: pointer;
}

.table-footer {
    display: flex;
    justify-content: space-between;
}

.table-navigation {
    display: flex;
    gap: 10px;
    margin-top: auto;
    margin-bottom: 30px;
}

.primary-btn:disabled {
    background-color: #e2e2e9;
}

.hover-scale:disabled:hover {
    transform: none;
    cursor: not-allowed;
}
