body {
    font-family: Poppins;
    font-style: normal;
    font-weight: 200;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    overflow-x: hidden;
}

.header {
    background-color: #5c61a3;
    color: white;
    padding: 18px;
    text-align: left;
    display: flex;
    align-items: center;
    height: 64px;
}

.header img {
    max-height: 60px;
    margin: 0;
}

.header h1 {
    margin-left: -90.5px;
    font-size: 5x;
    flex-grow: 1;
    text-align: center;
}

.menu-icon {
    font-size: 32px;
    cursor: pointer;
    margin-left: auto;
    margin-right: 10px;
    width: 48px;
    text-align: center;
    background-color: #494d7b;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.image-section {
    text-align: center;
    padding: 20px;
}

.image-section img {
    max-width: 100%;
    border-radius: 8px;
}

.image-section h2 {
    margin: 10px 0 0;
    color: #787eba;
    font-size: 1rem;
}

.main-site-button {
    display: block;
    background-color: #787eba;
    color: white;
    text-align: right;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 40px;
    margin: 15px auto;
    width: 100%;
    max-width: 300px;
}

.events-section h2 {
    color: #787eba;
    margin-bottom: 10px;
}

.event {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fafafa;
}

.event h3 {
    margin: 0;
    font-size: 1rem;
    color: #333;
}

.event p {
    margin: 5px 0;
    font-size: 0.9rem;
    color: #555;
}

/* Side panel styles */
.side-panel {
    position: fixed;
    top: 0;
    right: -270px; /* Initially off-screen to the right */
    height: 100%;
    width: 250px;
    background-color: #787eba;
    color: white;
    overflow-y: auto;
    transition: 0.3s ease;
    padding: 10px;
    z-index: 1000;
}

.side-panel.open {
    right: 0; /* Slide in from the right */
}

.side-panel ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.side-panel ul li {
    margin: 10px 0;
    padding: 5px 0;
    font-size: 1rem;
}

.side-panel ul li a {
    color: white;
    text-decoration: none;
}

.side-panel ul li.active {
    background-color: #3e3d75;
    padding-left: 10px;
    border-radius: 5px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

@media screen and (max-width: 660px) {
    .header h1 {
        display: none;
    }
    .container {
        margin: 20px 10px;
    }
}
