:root {
    --whitish-border: #F8F8F8; /* very very close to white */
    --luuppi-gray: #F5F5FB; /* Bluish gray */
    --backgroud-gray: #E7E7E7; /* Nearly white */
    --section-background: #D5D5D5;    /* gray */
    --non-highlight-gray: #6B7280; /* Darkish grey */
    --accent-blue: #787eba; /* header buttons background color */
    --luuppi-blue: #5C61A3; /* luuppi header color */
}