@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "colors.css";

:root {
    --side-panel-width: 250px;
}

body {
    font-family: Poppins;
    font-style: normal;
    font-weight: 200;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    overflow-x: hidden;
}

/* Header thinks */
.header {
    background-color: var(--luuppi-blue);
    color: white;
    padding: 18px;
    text-align: left;
    display: flex;
    align-items: center;
    height: 64px;
}

.header img {
    max-height: 60px;
    margin: 0;
}

.header h1 {
    flex-grow: 1;
    text-align: center;
    user-select: none;
}

.menu-icon {
    font-size: 32px;
    cursor: pointer;
    margin-left: auto;
    margin-right: 10px;
    width: 48px;
    height: 48px;
    min-width: 48px;
    text-align: center;
    background-color: #494d7b;
    user-select: none;
}

/* The dropdown container */
.profile-dropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 85px;
    margin-right: 150px;
    font-size: 20px;
}

.profile-dropdown a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.profile-dropdown a:hover {
    background-color: #ddd;
}

/* Body */
.container {
    max-width: 600px;
    margin: 20px auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.image-section {
    text-align: center;
    padding: 20px;
}

.image-section img {
    max-width: 100%;
    border-radius: 8px;
}

.image-section h2 {
    margin: 10px 0 0;
    color: var(--luuppi-blue);
    font-size: 1rem;
}

.main-site-button {
    display: block;
    background-color: var(--luuppi-blue);
    color: white;
    text-align: right;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 40px;
    margin: 15px auto;
    width: 100%;
    max-width: 300px;
}

.events-section h2 {
    color: var(--luuppi-blue);
    margin-bottom: 10px;
}

.event {
    border-radius: 5px;
    background-color: var(--luuppi-gray);
}

.event h3 {
    margin: 0;
    font-size: 1rem;
    color: #333;
}

.event p {
    margin: 5px 0;
    font-size: 0.9rem;
    color: #555;
}

/* Side panel styles */
.side-panel {
    position: fixed;
    top: 0;
    height: 100%;
    background-color: #787eba;
    color: white;
    overflow-y: none;
    padding: 10px;
    z-index: 1000;
    right: 0;
    width: var(--side-panel-width);
    transform: translateX(100%);
    transition: transform 0.3s ease;
}

.side-panel.open {
    transform: translateX(0);
    transition: transform 0.3s ease;
}

.side-panel ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.side-panel ul li {
    margin: 10px 0;
    padding: 5px 0px;
    font-size: 1rem;
}

.side-panel ul li a {
    color: white;
    text-decoration: none;
    user-select: none;
}

.side-panel ul li.active {
    background-color: #3e3d75;
    padding-left: 10px;
    border-radius: 5px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    width: 48px;
    height: 48px;
    text-align: center;
    background-color: #5c61a3;
    color: #ffffff;
    user-select: none;
}

.hor-center-content {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 660px) {
    .header h1 {
        color: var(--luuppi-blue);
        font-size: 1px;
    }
    .container {
        margin: 20px 10px;
    }
}


.primary-btn {

    font-size: large;
    background-color: var(--luuppi-blue);
    color: white;
    border-radius: 6px;
    padding: 8px 16px;
    border-style: none;
    cursor: pointer;
}

.secondary-btn {
    font-size: large;
    border-radius: 6px;
    background-color: white;
    color: var(--luuppi-blue);
    border: 2px var(--luuppi-blue) solid;
    cursor: pointer;
    padding: 8px 16px;
}

.hover-scale {
    transition: transform 0.3s ease;
    transform-origin: center;
}

.hover-scale:hover {
    transform: scale(1.05);
}
