@import "common.css";

/* OK these colors can be looked at later */

.page-title {
    text-align: center;
    font-size: xx-large;
    margin: 0;
    padding: 20px 0 0 0;
}

.card {
    background: white;
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0 1px 5px var(--shadow-black);
    text-align: center;
}
  
.progress-ring-wrapper {
    display: grid;
    width: 120px;
    height: 120px;
    place-items: center;
    margin-left: calc(50% - 60px);
}
  
.progress-ring {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}
  
.progress-center-text {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    font-family: sans-serif;
    text-align: center;
}
  
#progressPercent {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 4px;
}
  
#progressValue {
    font-size: 16px;
    color: var(--non-highlight);
}
  
.progress-ring__background {
    stroke: var(--disabled-gray);
    stroke-width: 12;
}
  
.progress-ring__circle {
    fill: white;
    stroke: var(--luuppi-blue);
    stroke-width: 12;
    stroke-linecap: round;
    stroke-dasharray: 339.292;
    stroke-dashoffset: 339.292;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    transition: stroke-dashoffset 0.5s ease;
}  
