@import "common.css";
@import "event_previewer.css";
@import "section.css";

body {
    padding-bottom: 150px;
}

article {
    margin: 0;
    padding: 0;
}

.larpake {
    padding: 0 20px;
}

.larpake > a {
    text-decoration: none;
}

.image {
    width: 100%;
    border-radius: 50px;
}

.title {
    color: var(--luuppi-blue);
}

#larpake-container {
    list-style: none;
    padding: 0;
}

.container > h2 {
    color: var(--luuppi-blue);
    margin-bottom: 10px;
}

.event-container {
    list-style: none;
    padding: 0;
    display: flex;
    flex-flow: column;
    gap:16px;
}

.upcoming-events-btn {
    background-color: var(--luuppi-blue);
    color: white;
    justify-content: space-between;
    text-decoration: none;
    font-weight: bold;
    padding: 0px 20px;
    border-radius: 5px 50px 50px 5px;
}

.events-button-text {
    margin-top: auto;
    margin-bottom: auto;
}

.bigger-icon {
    font-size: 50px;
}