@import "common.css";
@import "section.css";
@import "input_styles.css";

.section {
    max-width: 600px !important;
}

.section-filler > div {
    padding: 30px !important;
}

.content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
}

.join-btn {
    margin: 30px auto 0 auto;
    padding: 8px 120px !important;
}

