@import "common.css";
@import "section.css";
@import "input_styles.css";

.section {
    max-width: 600px !important;
    margin: 20px 20px 0 20px;
}

.section-filler > div {
    padding: 30px !important;
}

.content {
    justify-content: center;
    text-align: left;
}

.box-container {
    max-width: 210px;
    margin-bottom: 2rem;
}
