@import "common.css";

.button {
    display: block;
    width: 100%;
    height: 106px;
    color: #000;
    border: none;
    background: none;
    margin: 10px 0;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
}

.button-image {
    width: 100%;
    height: 80px;
    border: 2px solid #000;
    font-size: 25px;
}

.button-image img {
    max-height: 80px;
    max-width: 100%;
    margin: 0;
}

.button:hover {
    background-color: #f0f0f0;
}

.button.disabled {
    background-color: #ddd;
    color: #999;
    cursor: not-allowed;
}

.signature-picture {
    height: 30px;
    width: auto;
}

#larpake-page-name {
    text-align: left;
}

.pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.pagination button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
}

.pagination button:disabled {
    color: #ccc;
    cursor: not-allowed;
}
