@import "common.css";
@import "larpake_common.css";

body {
    padding-bottom: 150px;
}

.error {
    padding: 20px;
    border: 2px solid black;
    text-align: center;
    font-size: large;
}

.disabled {
    background-color: var(--disabled-gray);
    color: var(--disabled-gray-text);
    cursor: not-allowed;
}

.task-container{
    display: flex;
    flex-flow: column;
    list-style: none;
    padding: 0 20px;
    gap: 10px;
}

.task-btn {
    height: 70px;
    background-color: white;
    width: 100%;
    border: 2px solid #000;
}

.task-btn:hover {
    background-color: var(--task-hover-gray);
    cursor: pointer;
}

.cancelled {
    background-color: var(--task-hover-gray);
}

.section-title {
    font-size: 25px;
    display: flex;
    justify-content: center;
    margin: 0;
}

.task-title{
    text-align: center;
    margin: 0px 0 5px 0;
}








