@import "common.css";
@import "section.css";

body {
    padding-bottom: 150px;
}

ul {
    list-style: none;
    padding: 0;
}

h5 {
    font-size: medium;
    margin: 0;
}

.section {
    max-width: 800px !important;
}

.page-title {
    text-align: center;
    font-size: xx-large;
    margin: 0;
    padding: 20px 0 0 0;
}

#group-container{
    margin: 0;
}

.group-title {
    text-decoration: underline 2px;
    margin: 0;
}

.only-child {
    font-weight: 700;
    text-align: center;
    display: none;
}

.only-child:only-child {
    display: block;
}

.type-header {
    font-size: large;
    margin: 10px 0 0 0;
    text-align: center;

}

.user-container {
    display: flex;
    flex-flow: column;

}

.list-item {
    margin: 0;
    padding: 5px 10px;
    border-radius: 5px;
}

.tutor {
    padding: 20px 10px;
    background-color: var(--luuppi-gray);
}

.tutor p {
    margin: 2px 0;
    font-size: small;
}

.list-item:nth-child(2n + 1){
    background-color: var(--luuppi-gray);
}





