@import "common.css";
@import "larpake_common.css";

body {
    margin-bottom: 100px;
}

.greeting {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: #555;
    margin-top: 50px;
    margin-bottom: 30px;
}

.stats-list {
    list-style: none;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.stat-section {
    padding: 10px;
    border-bottom: 1px solid #eee;
    font-weight: bold;
    font-size: 0.9rem;
}

.stat-section > section {
    display: flex;
    justify-content: space-between;
}

.stat-section > section > p,
.stat-section > section > h3 {
    padding: 0;
    margin: 0;
    font-size: medium;
}

.total {
    font-size: 1.2rem;
    font-weight: bold;
    color: #5c61a3;
    text-align: center;
}

.error {
    padding: 30px;
}

.error > p,
.error > h3 {
    text-align: center;
}

@media screen and (max-width: 660px) {
    .page {
        margin: 20px 10px;
    }
}
