@import "common.css";

.container {
    max-width: 600px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.section-path {
    font-size: medium;
    font-weight: 200;
    margin: 0;
}

.title {
    font-size: xx-large;
    margin: 20px 0 0 0;
}

.updated {
    color: #ccc;
    margin: 0px;
}

.qr-container {
    text-align: center;
    margin-bottom: 20px;
    padding: 10px 10px 30px 10px;
    border-radius: 10px;
    background-color: var(--luuppi-gray);
    display: flex;
    flex-flow: column;
    align-items: center;
}

.qr {
    margin: auto;
    background-color: white;
    border: 3px solid var(--text-border);
    border-radius: 10px;
}

.qr > img {
    width: 250px;
    max-width: 100%;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: -7px;
}

.code {
    padding: 10px 10px 10px 10px;
    width: fit-content;
    background-color: white;
    font-weight: 700;
    letter-spacing: 10px;
    font-size: x-large;
    margin: 0;
    border-radius: 10px;
}
