name: Build and Deploy

on:
  push:
    branches: ["master"]
  workflow_dispatch:

concurrency:
  group: build-deploy-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build and Deploy
    timeout-minutes: 15
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.REGISTRY }}
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}

      - name: Build API Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: api.Dockerfile
          push: true
          tags: ${{ secrets.REGISTRY }}/larpake-prod:latest
          cache-from: |
            type=gha
            type=registry,ref=${{ secrets.REGISTRY }}/larpake-prod:latest
          cache-to: type=gha,mode=max
          build-args: |
            BUILDKIT_INLINE_CACHE=1
          platforms: linux/amd64
          provenance: false

      - name: Build Migration Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: migrations.Dockerfile
          push: true
          tags: ${{ secrets.REGISTRY }}/larpake-prod-mig:latest
          cache-from: |
            type=gha
            type=registry,ref=${{ secrets.REGISTRY }}/larpake-prod-mig:latest
          cache-to: type=gha,mode=max
          build-args: |
            BUILDKIT_INLINE_CACHE=1
            VITE_API_BASE_URL=${{ secrets.API_BASE_URL }}
            VITE_ENTRA_CLIENT_ID=${{ secrets.ENTRA_CLIENT_ID }}
            VITE_ENTRA_TEDANT_ID=${{ secrets.ENTRA_TEDANT_ID }}
            VITE_ENTRA_SERVER=${{ secrets.ENTRA_SERVER_NAME }}
            VITE_ENTRA_SCOPE=${{ secrets.ENTRA_AUTH_SCOPE }}
            VITE_ENTRA_REDIRECT_URL=${{ secrets.FRONTEND_AUTH_REDIRECT_URL }}
          platforms: linux/amd64
          provenance: false

      - name: Deploy to Production
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          port: ${{ secrets.PORT }}
          script: |
            cd luuppi-larpake
            git fetch
            git reset --hard origin/master
            docker login -u ${{ secrets.REGISTRY_USERNAME }} -p ${{ secrets.REGISTRY_PASSWORD }} ${{ secrets.REGISTRY }}
            docker pull ${{ secrets.REGISTRY }}/larpake-prod:latest
            docker pull ${{ secrets.REGISTRY }}/larpake-prod-mig:latest
            docker compose -f docker-compose.yml down
            docker compose -f docker-compose.yml up -d
